<body class="mat-app-background">
  <mat-toolbar color="primary" class="my-toolbar">
    <img src="assets/headphones-24.png">
    <span class="title"><b>podsy</b></span>
    <a mat-button [routerLink]='["/discover"]'><span class="link">Discover</span></a>
    <span class="example-fill-remaining-space"></span>
    <a mat-button [routerLink]='["/log-in"]'><span class="link">Log in</span></a>
    <a mat-button [routerLink]='["/sign-up"]'><span class="link">Sign up</span></a>
  </mat-toolbar>
  <router-outlet></router-outlet>
</body>