.title {
  font-size: large;
}

li {
  list-style-type: none;
}

ul {
  margin-left: 0;
  padding-left: 0;
}

.card {
  text-align: center;
  width: 230px;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.log-in-button {
  width: 90%;
}

.credentials {
  width: 90%;
}

.forgot-your-password-link {
  text-decoration: none;
  color: #e91e63;
}
