<div class="container">
    <mat-card class="card" align="center">
        <mat-card-title class="title">Log in to Podsy</mat-card-title>
        <mat-card-content>
            <form>
                <ul>
                    <li>
                        <mat-form-field class="credentials">
                            <mat-label>Email</mat-label>
                            <input matInput>
                        </mat-form-field>
                    </li>
                    <li>
                        <mat-form-field class="credentials">
                            <mat-label>Password</mat-label>
                            <input matInput type="password">
                        </mat-form-field>
                    </li>
                </ul>
            </form>
            <mat-card-actions>
                <button mat-raised-button color="primary" class="log-in-button">Log in</button>
            </mat-card-actions>
            <mat-hint>Forgot your password?<br>Click <a href="/forgot-your-password"
                    class="forgot-your-password-link">here</a> to reset it</mat-hint>
        </mat-card-content>
    </mat-card>
</div>