<div class="container">
    <mat-card class="card" align="center">
        <mat-card-title class="title">Sign up for Podsy</mat-card-title>
        <mat-card-content>
            <form>
                <ul>
                    <li>
                        <mat-form-field class="credentials">
                            <mat-label>Name</mat-label>
                            <input matInput>
                        </mat-form-field>
                    </li>
                    <li>
                        <mat-form-field class="credentials">
                            <mat-label>Email</mat-label>
                            <input matInput>
                        </mat-form-field>
                    </li>
                    <li>
                        <mat-form-field class="credentials">
                            <mat-label>Password</mat-label>
                            <input matInput type="password">
                        </mat-form-field>
                    </li>
                </ul>
            </form>
            <mat-card-actions>
                <button mat-raised-button color="primary" class="sign-up-button">Sign up</button>
            </mat-card-actions>
        </mat-card-content>
    </mat-card>
</div>